<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<style>




  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: #0f0f0f;
    color: white;
    font-weight: 600;
  }



  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner"  style="display: flex; justify-content: center; ">
  
  <h1 style="margin-top: -5px; font-size: 40px;">Notes</h1>
</div><br>
<div class="container">
  <textarea class="form-control container" id="exampleFormControlTextarea1" rows="3"style="display:flex;justify-content:center; background-color: #e2d9cd; width: 800px;" placeholder="Take a Note.."         [(ngModel)]="note.title" 
  ></textarea><br>
  <button  class="btn btn-primary" (click)="onSubmit()" style="display: flex; justify-content: center;margin-left:600px">Add Note</button>

</div>
    <br>



<div class="container"></div>

  <div class="notes-container">

    <div class="note"  *ngFor="let n of notes">
      <h2>{{ n.title }}</h2>
      <p>2022-11-04717:44:0sd3.7122</p>
      <span  style="display: flex; justify-content: end;"  (click)="deleteNote(n.id)">    <img src="../assets/delete (1).png" alt="Delete Icon" class="icon" style="width: 25px; height: 25px;">
      </span>
    </div>
 <br>

 <!-- app.component.html -->
<
  


  <!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let n of notes">{{ n.title }} - {{ n.content }}</li>
  </ul> -->


<style>


  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
  }

  .notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    gap: 20px;
  }

  .note {
    background-color: #e2d9cd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
  }


</style>

