/* app.component.css */
.note {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    word-wrap: break-word; /* Ensure long words break to a new line */
    white-space: normal;   /* Allow the text to wrap naturally */
  }
  
  .note h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
  }
  
  .note p {
    font-size: 1em;
    margin: 10px 0;
    line-height: 1.5; /* Adjust line height for better readability */
  }
  
  .note img {
    cursor: pointer;
  }
  
  .note .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  
  span {
    display: flex;
    justify-content: flex-end;
  }
  
  .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  